

 .place-order {

    display: flex;

    align-items: start;

    justify-content: space-between;

    gap: 50px;

    margin-top: 35px;

 }

 
 .place-order-left {

    width: 100%;

    max-width: max(30%,500px);

 }

 .place-order-left .title {

    font-size: 35px;

    font-weight: 700;

    margin-bottom: 40px;

    letter-spacing: 1px;

    color: rgba(0, 0, 0, 0.89);

 }

 .place-order-left input {

    margin-bottom: 20px;

    width: 100%;

    padding: 15px;

    padding-left: 20px;

    border: 1.5px solid tomato;

    border-radius: 35px;

    outline-color: rgb(243, 94, 67);

 }

 .place-order-left .multi-fields {

    display: flex;

    gap: 10px;

 }

 .place-order-right {

    margin-top: 60px;

    width: 100%;

    max-width: max(40%,500px);

 }

 .place-order .cart-total button {

    margin-top: 20px;

 }



 /* ==================== RESPONSIVE STYLES ==================== */

@media (max-width: 1024px) {
    .place-order {
        gap: 30px;
    }
    
    .place-order-left .title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .place-order {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
    }

    .place-order-left,
    .place-order-right {
        max-width: 100%;
        width: 100%;
    }

    .place-order-right {
        margin-top: 0;
    }

    .place-order-left .title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    .place-order-left .multi-fields {
        flex-direction: column;
        gap: 0;
    }

    .place-order-left input {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .place-order {
        padding: 0 15px;
    }

    .place-order-left .title {
        font-size: 24px;
    }

    .place-order-left input {
        padding: 12px;
        padding-left: 15px;
        font-size: 16px; /* prevents zoom on iOS */
    }

    .cart-total h2 {
        font-size: 22px;
        text-align: center;
    }

    .place-order .cart-total button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}