 
  .cart {

    margin-top: 100px;

  }

  .cart-items-title {

    display: grid;

    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;

    align-items: center;

    color: gray;

    font-size: max(1vw, 12px);

  }

  .cart-items-item {

    margin: 10px 0px;

    color: black;

  }

  .cart-items-item img {

    width: 55px;

  }

  .cart hr {

    height: 1px;

    background-color: #e2e2e2;

    border: none;

  }

  .cart-items-item .cross {

    cursor: pointer;

    font-size: 13px;

  }

  .cart-bottom {

    margin-top: 80px;

    display: flex;

    justify-content: space-between;

    gap: max(12vw, 12px);

  }

  .cart-total {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 20px;

  }


  .cart-total-details {

    display: flex;

    justify-content: space-between;

    color: #555;

  }

  .cart-total hr {

    margin: 12px 0px;

  }



  
  .btnn {
    background-color: transparent;

    border: 2px solid tomato;

    border-radius: 35px;

    color: tomato;

    cursor: pointer;

    font-size: 15px;

    font-weight: 600;

    letter-spacing: 3px;

    margin: 20px;

    text-align: center;

    text-transform: uppercase;

    height: 60px;

    width: 300px;

    transition: 0.3s;

  }
  
  .fourth {
    border-color: tomato;

    color: tomato;

    background-image: linear-gradient(45deg, tomato 50%, transparent 50%);

    background-position: 100%;

    background-size: 400%;

    transition: background 300ms ease-in-out;

    transition: 0.3s;

  }
  
  .fourth:hover {

    background-position: 0;

    color: #fff;

  }
  

  .fourth:active {

    transform: scale(0.95);

  }


  .cart-promocode {

    flex: 1;

  }

  .cart-promocode p {

    color: #555;

  }


  .cart-promocode-input {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #eaeaea;

    border-radius: 4px;

    margin-top: 10px;

  }

  .cart-promocode-input input {

    background: transparent;

    border: none;

    outline: none;

    padding-left: 10px;

  }


  .cart-promocode-input button {

    width: max(10vw, 150px);

    padding: 12px 5px;

    background-color: tomato;

    border: none;

    border-radius: 5px;

    color: #fff;

    cursor: pointer;

    transition: 0.3s;

  }

  .cart-promocode-input button:hover {

    background-color: rgb(245, 98, 72);

  }


  .cart-promocode-input button:active {

    transform: scale(0.95);

  }

 

  @media (max-width:750px) {

    .cart-bottom {

      flex-direction: column-reverse;

    }

    .cart-promocode {

      justify-content: start;

    }

    .btnn {

      width: 230px;

      height: 60px;

      font-size: 15px;

      font-weight: 400;

      letter-spacing: 1px;

      margin-left: -5px;

    }

    .cart-items-item p {

      font-size: 13px;

    }

    .cart-items-title p {

      font-size: 14px;

    }

    

  }