
 .navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 8px 4%;

 }

 .navbar .logo {

    width: max( 10%, 80px );

 }
   
  .zx {

    background-color: transparent;

    border: 2px solid tomato;

    border-radius: 35px;

    color: tomato;

    cursor: pointer;

    font-size: 11.5px;

    font-weight: 600;

    letter-spacing: 0.2px;

    margin: 20px;

    text-align: center;

    text-transform: uppercase;

    height:35px;

    width: 100px;

    transition: 0.3s;

  }
  
  .bx {
    border-color: tomato;

    color: tomato;

    background-image: linear-gradient(45deg, tomato 50%, transparent 50%);

    background-position: 100%;

    background-size: 400%;

    transition: background 300ms ease-in-out;

    transition: 0.3s;

  }
  
  .bx:hover {

    background-position: 0;

    color: #fff;

  }
  

  .bx:active {

    transform: scale(0.95);

  }
