
 .coupon-page {

    background: #e0e5ec;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    flex: 1;

 }

 .coupon-input-container {

    background: #e0e5ec;

    border-radius: 20px;

    box-shadow: 8px 8px 16px #babecc,
    -8px -8px 16px #fff;

    padding: 40px 30px;

    width: 320px;

    display: flex;

    flex-direction: column;

    align-items: center;

 }

 .coupon-code-input,
 .discount {

    width: 100%;

    margin: 10px 0;

    padding: 12px;

    border: none;

    background: #e0e5ec;

    box-shadow: inset 4px 4px 8px #babecc,
    inset -4px -4px 8px #fff;

    border-radius: 30px;

    outline: none;

 }

 .coupon-code-input::placeholder,
 .discount::placeholder {

    font-weight: 700;

    color: #747474;

 }

 .coupon-add {

    margin-top: 15px;

    width: 110px;

    padding: 13px;

    border: none;

    border-radius: 30px;

    background: #e0e5ec;

    box-shadow: 4px 4px 8px #babecc,
    -4px -4px 8px #fff;

    font-size: 12px;

    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;

    margin-right: 10px;

 }

 .coupon-add:hover {

    box-shadow: inset 4px 4px 8px #babecc,
    inset -4px -4px 8px #fff;

 }


  .expired-coupon {

    margin-top: 15px;

    width: 110px;

    padding: 13px;

    border: none;

    border-radius: 30px;

    background: #e0e5ec;

    box-shadow: 4px 4px 8px #babecc,
    -4px -4px 8px #fff;

    font-size: 12px;

    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;

 }

 .expired-coupon:hover {

    box-shadow: inset 4px 4px 8px #babecc,
    inset -4px -4px 8px #fff;

 }

 .coupon-btn-container {

   display: flex;

 }



@media (max-width: 768px) {

  .coupon-input-container {

    width: 90%;

    padding: 30px 20px;

  }

  .coupon-code-input,
  .discount {

    padding: 10px;

    font-size: 14px;

  }

  .coupon-add,
  .expired-coupon {

    width: 100%;

    margin-right: 0;

    margin-bottom: 10px;

  }

  .coupon-btn-container {

    flex-direction: column;

    align-items: center;

    width: 100%;

  }
}

@media (max-width: 480px) {

  .coupon-input-container {

    padding: 25px 15px;

    border-radius: 15px;
  }

  .coupon-code-input,
  .discount {

    padding: 10px;

    font-size: 13px;

  }

  .coupon-add,
  .expired-coupon {

    font-size: 11px;


    padding: 10px;

  }
  
}